<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.ScTransferOrderDetailSerialMapper">

    <update id="receiveSerial">
        UPDATE tbl_sc_transfer_order_detail_serial
        SET transfer_status = 2
        WHERE id = #{id}
          AND transfer_status = 1
    </update>
</mapper>
