<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.shkb.mappers.MachineTaskMagneticPowderMapper">

    <resultMap id="BaseResultMap" type="com.lframework.xingyun.shkb.entity.MachineTaskMagneticPowder">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
            <result property="contractNo" column="contract_no" jdbcType="VARCHAR"/>
            <result property="partNo" column="part_no" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="machineTaskStatus" column="machine_task_status" jdbcType="INTEGER"/>
            <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,contract_no,
        part_no,create_time,serial_no,
        machine_task_status,send_time
    </sql>
</mapper>
